* {
    font-family: 'Noto Sans KR', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sub{
    font-size: 14px;
    color: #191919;
    font-weight: 100;
}

.title{
    margin-top: .25rem;
    font-size: 40px;
    color: #1d2475;
    font-weight: 100;
}
.mini{
    font-size: 12px;
    color: #999;
    font-weight: 100;
}