<head>
    <title>회원가입</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}"/>
</head>
<body>
<div class="signup-box">
    <h1 class="signup-title">HY-MAPS 회원가입</h1>
    <br/>
    <form action=" " method="POST">
        {% csrf_token %}
        <p>아이디</p>
        <input required name="username" type="text"/>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        <p>비밀번호</p>
        <input required  name="password" type="password"/>
        <p>성</p>
        <input required  name="firstname" type="text"/>
        <p>이름</p>
        <input required  name="lastname" type="text"/>
        <p>이메일</p>
        <input required  name="email" type="text"/>
        <p>학번</p>
        <input  required name="student_id" type="text"/>
        <p>학과</p>
        <input required  name="major" type="text"/>
        <br/>
        <br/>
        <input class="signup-button" type="submit" value="회원가입"/>
    </form>
</div>
</body>